@import "style.scss";

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#main {
	background: #02397A;
	background: -moz-radial-gradient(center 30%, ellipse cover, #0060CB 0%, #02397A 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center 30%, 0px, center center, 100%, color-stop(0%,#0060CB), color-stop(100%,#02397A)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center 30%, ellipse cover, #0060CB 0%,#02397A 100%); /* Chrome10+,Safari5.1+ */
	background: radial-gradient(center 30%, ellipse cover, #0060CB 0%,#02397A 100%); /* W3C */
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	padding-bottom: 40px;
}

#main > div,
#desktop {
	height: 100%;
	min-height: 100%;
}

#desktop {
}

footer {
	background: rgba(0, 0, 0, 0.3);
	border-top: 1px solid #000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 5px 10px rgba(255, 255, 255, 0.05) inset;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: -41px;
	padding: 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 41px;
}
footer menu > li {
	display: inline-block;
}
footer menu button {
	background: rgba(255, 255, 255, 0.01);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 4px 5px -5px rgba(255, 255, 255, 0.05) inset; 
	width: 36px;
	height: 36px;
}
footer menu button:hover {
	background: rgba(255, 255, 255, 0.02);
}
footer menu button:active {
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 4px 5px -5px rgba(255, 255, 255, 0.05) inset;
}

.covers {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: none;
	padding: 2px 2px 43px 2px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.covers.visible {
	display: block;
}
.covers div {
	background: rgba(255, 128, 0, 0.1);
	border: 1px solid rgb(255, 128, 0);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: none;
	min-height: 100%;
	height: 100%;
	pointer-events: none;
	position: relative;
	z-index: 200;
}
.covers .visible {
	display: block;
}

.window {
	border: 1px solid #000;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	position: relative;
	width: 320px;
	padding-top: 22px;
}
.window header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: rgba(32, 32, 32, 0.3);
	box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.2) inset;
	color: #111;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	position: absolute;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
	width: 100%;
}
.window header a {
	color: #fff;
	float: right;
	font-size: 22px;
	height: 15px;
	line-height: 15px;
	padding: 0 4px 0 3px;
	text-align: center;
	text-decoration: none;
}
.window .close {
	color: #000;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}
.window .close:hover {
	color: #66e;
}
.window .content {
	background: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 150px;
	height: 100%;
}
.window.full,
.window.left,
.window.right {
	min-height: 100%;
	height: 100%;
}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


.terminal {
	width: 720px;
}
.terminal .content {
	color: #fff;
	font-family: Courier, 'Courier New', Sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	padding: 5px;
}
.terminal .command {
	color: #f7e04a;
}
.terminal .username {
	color: #6aff4c;
}
.terminal .machine {
	color: #5182ff;
}

.full {
	width: 100%;
}
.left {
	left: 0;
	width: 50%;
}
.right {
	right: 0;
	width: 50%;
}